{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>My receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for list in expensecategory_list %}
                    <tr>
                        <td>
                            <a>{{ list.name }}</a>
                        </td>
                        <td>{{ list.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
