{% extends 'base.html' %}

{% block content %}
    <div class="narrow-form">
        <h1>Create Account</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="text"
                   name="name"
                   required
                   minlength="4"
                   maxlength="8"
                   size="10">
            <input type="text"
                   name="number"
                   required
                   minlength="4"
                   maxlength="8"
                   size="10">
            <button>Create</button>
        </form>
    </div>
{% endblock content %}
