{% extends 'base.html' %}

{% block content %}
    <h1>Account list</h1>
    <table>
        <thead>
            <tr>
                <th>Bank of America</th>
                <th>Visa</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for list in account_list %}
                <tr>
                    <td>
                        <a>{{ list.name }}</a>
                    </td>
                    <td>
                        <a>{{ list.number }}</a>
                    </td>
                    <td>{{ list.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
